# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv/
env/
venv/
*.env

# Jupyter notebooks
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build / dist
build/
dist/
*.egg-info/
